.ZKCell{
    svg {
        width: 0.6rem;
        height: 1rem;
        margin: 0 .3rem 0  0;
      padding-top: 0.2rem;
      color:#999999;
      }
    .weui-cell{
      padding-top:8px;
     }
  .list{
    margin-bottom:-.38rem;
  }
}

.weui-cell__ft{
  svg{
    display: none;
  }
}
.weui-cell_warn {
  color: #e64340;
  .weui-cell__hd{
    color: #e64340;
  }
  .weui-cell__bd{
    color: #e64340;
  }
  .weui-cell__ft
   svg{
    display: block;
    height: 0.75rem;
    width: 0.75rem;
  }
}


