@import "public.scss"; //全局变量CSS，颜色，大小，边框，尺寸，尽量使用变量库里头的变量，请悉知所有变量

// 底部样式

.zkui-foot{

    .placeholder{
		@include widthHeight(100%,2.3rem)
	}
	.footer{
		position: fixed;
		z-index: 999;
		bottom:0;
		@include widthHeight(100%, auto);
		background: rgba(255,255,255,.9);
    @include zk-border-top;
		ul{
			@include widthHeight(100%, 2.2826666667rem);
			@include justify(space-around);
			box-sizing:border-box;
			.footer_li{
				float: left;
				@include widthHeight(25%, 2.2826666667rem);
				text-align:center;
				position: relative;
				.li_svg{
					@include leftcenter;
					top:0.3rem;
					@include widthHeight(1.224rem,1.224rem);
					svg{
						@include widthHeight(100%,100%);
					}
				}
				.li_text{
					text-align:center;
					font-size: $H4Size;
					margin-top:1.4933333333rem;
				}
			}

		}
	}
}
