.zkui-shop-product-class{
  .zkui-shop-product-class-search{
    height:44px;
    .weui-search-bar{
      position: fixed;
      width: 100%;
      top: 2.06933rem;
      left:0;
      height:44px;
      z-index: 9999;
      background-color: #efeff4 !important;
      .weui-search-bar__box .icon-search {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: 28px;
      }
      .weui-search-bar__form{
        a{
          display: block;
          @include widthHeight(100%,100%)
        }

      }
    }
    .icon-search{
      @include widthHeight(20px,20px);
      vertical-align: middle;
      float:left;
      padding-top:.2rem;
      padding-left:.3rem;
    }
    .word{
      float:left;
      padding-left:.3rem;
      padding-top:.1rem;

    }
  }
  .zkui-shop-product-class-box{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: #EFEFF4;
    .zkui-shop-product-class-left{
      width: 3.5rem;
      overflow: hidden;
      div{
        width: 3.5rem;
        overflow: hidden;
        height:70vh;
        position: fixed;
        left:0;
      }
      ul{
        width: 4.5rem;
        height:70vh;
        overflow-y: auto;
        li{
          float: left;
          @include widthHeight(3.5rem,2rem);
          @include zk-border-bottom;
          @include sizeColor($H3Size,$sc);
          line-height: 2rem;
          cursor:pointer;
          text-align: center;
          overflow: hidden;
          background: #f6f6f6;
        }
        li.active{
          background: $white;
          color: $brand;
        }
      }
    }
    .zkui-shop-product-class-right{
      -ms-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex:1;
      flex: 1;
      background: $white;
      h3{
        @include widthHeight(100%,2rem);
        line-height: 2rem;
        color:$sc;
        font-weight: bold;
        padding-left:10px;
        @include zk-border-bottom;
        @include zk-border-top;
      }
      ul{
        li{
          float: left;
          width: 33%;
          padding:.5rem;
          text-align: center;
          img {
            display: block;
            @include widthHeight(2.65rem,2.65rem);
            margin: 0 auto;
            border-radius: 50%;
          }
          p{
            margin-top:.3rem;
            @include sizeColor($H4Size,$sc);
            text-align: center;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }
    }
  }
}