//色值
$brand: #e60044; //项目的主题颜色，包括头部颜色，整个颜色风格可以参考懒人听书App
$accent: #f39f1b; //项目辅助颜色，鼠标放上去颜色，比如底部图标颜色，底部文字颜色
//$BorderColor: #f8f8f8;
$BorderColor: #e5e5e5;
$sc: #2c2b30;
$littlesc: #f8f8f8;
$bgcolor: #f8f8f8;
//浅灰背景颜色
$bgGray: #f8f8f8;
$green: #45c45d;
$accent: #f8f8f8;
$white:#fff;

$primary:#337ab7;
$success:#dff0d8;
$info:#d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;




$metal: rgb(87, 89, 98);
$secondary: rgb(234, 234, 234);
.brand{
  color: $brand;
}
.accent{
  color:$accent;
}
.metal {
  color: $metal;
}
.secondary {
  color: $secondary;
}

.accent{
  color: $accent;
}